# --------------------------------------------
# Folders
# --------------------------------------------

build/
reference/

# --------------------------------------------
# Files
# --------------------------------------------

Command Prompt.lnk