# --------------------------------------------
# Folders
# --------------------------------------------

build/
reference/

# --------------------------------------------
# Files
# --------------------------------------------

Command Prompt.lnk
arc.rdbg

tests/simple.bin
tests/simple.o