# --------------------------------------------
# Folders
# --------------------------------------------

build/
reference/
.idea/

# --------------------------------------------
# Files
# --------------------------------------------

Command Prompt.lnk
arc.rdbg

simple.bin
simple.o
